@import "tailwindcss";

@theme {
  --breakpoint-mid: 38.75rem; 
  /* --breakpoint-mid: 55.625rem;   */
  --breakpoint-lgx: 82.5rem; 
  --breakpoint-lgxx: 90rem;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
}